<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342"/>
            <bindingRedirect oldVersion="2.102.0.0-2.102.9999.9999" newVersion="2.112.3.0"/>
        </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
