<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="lightframework" connectionString="server=localhost;User ID=root;Password=ddd;database=lightframework;Pooling=true"/>
  </connectionStrings>
</configuration>