<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="caching">
      <section name="whalinMemcached" type="Whalin.Caching.Configuration.MemcachedClientSection, JingQiao.Caching" />
    </sectionGroup>
  </configSections>
  <caching>
    <!-- 
		Use this section as a template if you're connecting to regular memcached servers.
		Note: you must have the caching/whalinMemcached section if you're using the parameterless constructor of WhalinMemcachedClient.
	-->
    <whalinMemcached>
      <servers>
        <!-- make sure you use the same ordering of nodes in every configuration you have -->
        <add address="192.168.1.251" port="11211" />
        <!--<add address="127.0.0.1" port="20004" />
				<add address="127.0.0.1" port="20006" />
				<add address="127.0.0.1" port="20008" />-->
      </servers>
      <socketPool name="memcached" iniSize="10" minSize="10" maxSize="20"
                  socketTimeout="00:00:00.3000" connectionTimeout="00:00:00.1000" maintenanceSleep="00:00:00.30"
                  isFailOver="true" isNagle="true" />
    </whalinMemcached>
  </caching>
</configuration>
